<% action_url = cat.persisted? ? cat_url(cat) : cats_url %>
<% form_method = cat.persisted? ? "PATCH" : "POST" %>
<% submit_text = cat.persisted? ? "Update cat!" : "Build cat!" %>

<% if !cat.errors.full_messages.empty? %>
  <ul>
    <% cat.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<form action="<%= action_url %>" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= form_method %>">
  <label for="cat_name">Name</label>
  <input type="text"
         name="cat[name]"
         id="cat_name"
         value="<%= @cat.name %>">
  <br>

  <% ['M', 'F'].each do |sex| %>
    <label>
    <input type="radio"
           name="cat[sex]"
           value="<%= sex %>"
           <%= "checked" if @cat.sex == sex %>>
      <%= sex %>
    </label>
  <% end %>
  <br>

  <label for="cat_color">Coat Color</label>
  <select name="cat[color]"
          id="cat_color">
    <option value="" selected></option>
    <% Cat::COAT_COLORS.each do |color| %>
      <option value="<%= color %>"
              <%= "selected" if @cat.color == color %>>
        <%= color.upcase %>
      </option>
    <% end %>
  </select>
<br>

  <label for="cat_description">Description</label>
  <textarea name="cat[description]" id="cat_description"><%= cat.description %></textarea>
  <br>

  <label for="cat_birth_date">Birthdate</label>
  <input type="date" name="cat[birth_date]" id="cat_birth_date">

  <br>
  <br>
  <input type="submit" value="<%= submit_text %>">
</form>
